.products--card .product__wrapper {
    border: 0px;
}
.products--card .product__wrapper {
    border: 0px;
}
.product__wrapper {
    background-color: white;
    background: #ffffff;
    border: 0.5px solid #e8e8e8;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.04);
}
.product__wrapper {
    background-color: white;
    background: #ffffff;
    border: 0.5px solid #e8e8e8;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.04);
}
